{% extends 'base.html' %}
{% load csp %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Your Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>

<body>
    <div class="container">
        <div class="column is-4 is-offset-4">
            <div class="box has-background-light">
                <form method="POST">
                    {% csrf_token %}
                    {% for message in messages %}
                            <p class="help is-danger">{{ message|safe  }}</p>
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <div class="notification is-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <div class="field">
                        <label class="label" style="color: #48c78e;">Enter your email to reset password</label>
                        <div class="control">
                            <input class="input is-medium" type="email" name="email" placeholder="Enter your email">
                        </div>
                        {% if form.email.errors %}
                            <p class="help is-danger">{{ form.email.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <button class="button is-success is-fullwidth is-medium">Send Email</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}
