{% extends 'index.html' %}
{% load csp %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Us</title>
	<link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
	<!-- Bulma Version 0.9.x-->
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/contact.css">
    <style nonce="{{request.csp_nonce}}">
        .custom-button {
            background-color: #48c78e !important;
            color: #fff; /* Text color */
        }
        .hero{
            margin: -6rem;
            overflow:hidden;
        }
    </style>
</head>

<body>  
	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<div class="column is-two-thirds has-text-left">
						<h1 class="title is-1">Contact Us</h1>
						<p class="is-size-4">Questions or feedback?<br> Contact us for swift assistance with our document organization services.<br> Explore partnerships or get help using our platform. Your satisfaction is<br> our priority at DocOrganizer!</p>
						<div class="social-media">
							<a href="https://facebook.com" target="_blank" class="button is-light is-large"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="https://instagram.com" target="_blank" class="button is-light is-large"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="https://twitter.com" target="_blank" class="button is-light is-large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="column is-one-third has-text-left">
                        <form method="post">
                            {% csrf_token %}
							{% for message in messages %}
           						 <p class="help is-danger">{{ message|safe }}</p>
        					{% endfor %}
                            {# Display custom validation error message #}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    {% if error.code == 'invalid_credentials' %}
                                        <div class="notification is-danger">
                                            <p>{{ error }}</p>
                                        </div>
                                    {% else %}
                                        <div class="notification is-danger">
                                            <p>{{ error }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
							<div class="field">
								<label class="label">Name</label>
								<div class="control">
									<input class="input is-medium{% if form.errors.name %} is-danger{% endif %}" type="text" name="{{ form.name.name }}" value="{{ form.name.value|default:'' }}">
								</div>
								{% if form.errors.name %}
									<p class="help is-danger">{{ form.errors.name.0 }}</p>
								{% endif %}
							</div>
							<div class="field">
								<label class="label">Email</label>
								<div class="control">
									<input class="input is-medium{% if form.errors.email %} is-danger{% endif %}" type="text" name="{{ form.email.name }}" value="{{ form.email.value|default:'' }}">
								</div>
								{% if form.errors.email %}
									<p class="help is-danger">{{ form.errors.email.0 }}</p>
								{% endif %}
							</div>
							<div class="field">
								<label class="label">Message</label>
								<div class="control">
									<textarea class="textarea is-medium{% if form.errors.message %} is-danger{% endif %}" name="{{ form.message.name }}">{{ form.message.value|default:'' }}</textarea>
								</div>
								{% if form.errors.message %}
									<p class="help is-danger">{{ form.errors.message.0 }}</p>
								{% endif %}
							</div>
                            <div class="control">
                                <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium custom-button">Send Message</button>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
{% endblock %}
